@media screen and (max-width: 800px) {
  .bfgsla {
    display: none;
  }
  .mblidvr {
    display: block;
  }
  .smada {
    width: 100%;
    height: -webkit-fill-available;
  }

  a.media-player__PoweredBy-gqzi7w-4.ePVMQb {
    margin-left: 22px;
    bottom: 49px;
  }
}
