body {
    margin: 0;
}

.mblidvr {
    display: none;
}

a {
    text-decoration: none;
}

.bfgsla {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.smada {
    background: #9C27B0;
    width: 50%;
    height: -webkit-fill-available;
    position: fixed;
}

.ksdla {
    background: #FFEB3B;
    width: 50%;
    height: -webkit-fill-available;
    position: fixed;
    right: 0;
}

video.media-player__Video-gqzi7w-5.kueHaM {
    position: absolute;
    top: 50%;
    left: 49.9%;
    transform: translate(-50%, -50%);
    min-width: 101%;
    min-height: 102%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    animation: 1s ease-out 0s 1 normal none running eMLfYp;
    background: url(https://res.cloudinary.com/dev-to/image/upload/v1592845059/00001_k2v490.jpg) center center / cover no-repeat rgb(17, 17, 17);
    background-repeat: no-repeat;
    /* background-position: center center; */
}

.vdepa {
    height: 100%;
    position: relative;
    width: 100%;
    display: block;
}

.gExhVT {
    height: 35px;
    object-fit: contain;
    transition: all 0.2s ease-in-out 0s;
}
.ePVMQb {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 24px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Apercu Pro", apercu-pro, Arial, "Helvetica Neue", Helvetica, sans-serif;
    z-index: 99 !important;
    background: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.cghGja *, .cghGja ::before, .cghGja ::after {
    box-sizing: inherit;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

@media (min-width: 1024px) {
.ePVMQb {
    bottom: 48px;
    margin-left: 48px;
}
}

.vdepa {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
    box-sizing: border-box;
    position: relative;
    font-family: "Apercu Pro", apercu-pro, Arial, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    overflow: hidden;
}
.drqrUX {
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100%);
    height: 50vh;
    pointer-events: none;
}

.dntbtn {
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.poll__Wrapper-iptlde-5 {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    pointer-events: initial;
    animation: 0.4s ease-out 0s 1 normal none running hwhXtl;
    overflow: auto;
    padding: 64px 0px;
}

.fvmKtl {
    width: 336px;
    min-height: 56px;
    left: 734px;
    top: 301px;
    display: flex;
    -webkit-box-flex: 2;
    flex-grow: 2;
    -webkit-box-pack: start;
    justify-content: flex-start;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 16px;
    cursor: pointer;
    pointer-events: initial;
    font-family: "Apercu Pro", apercu-pro, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(17, 17, 17);
    border-radius: 100px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 24px 0px 16px;
    background: rgba(0, 0, 0, 0.1);
    outline: none;
}

.cghGja *, .cghGja ::before, .cghGja ::after {
    box-sizing: inherit;
}
button {
    -webkit-appearance: green;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
.dpBdeQ {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    pointer-events: initial;
    animation: 0.4s ease-out 0s 1 normal none running hwhXtl;
    overflow: auto;
    padding: 64px 0px;
}
.cghGja {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
    box-sizing: border-box;
    position: relative;
    font-family: "Apercu Pro", apercu-pro, Arial, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    overflow: hidden;
}
.fxXBlX {
    display: flex;
    width: 28px;
    height: 28px;
    font-size: 14px;
    font-family: "Apercu Pro", apercu-pro, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgb(0, 180, 247);
}
.jJameY {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: left;
    padding: 8px 0px;
}

.fvmKtl:hover {
    background: rgba(0, 180, 247, 0.38);
}

.jPHtvK {
    position: absolute;
    left: 29px;
    bottom: 41px;
    z-index: 9;
    padding: 60px 24px;
}
.jNDNiM {
    width: 100%;
    pointer-events: none;
}
.cghGja *, .cghGja ::before, .cghGja ::after {
    box-sizing: inherit;
}
.jRAgqF {
    margin-bottom: 12px;
    width: 48px;
    border-bottom: 4px solid white;
}
.cghGja *, .cghGja ::before, .cghGja ::after {
    box-sizing: inherit;
}
.dQSske {
    font-size: 28px;
    font-family: "Apercu Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    line-height: 32px;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    margin: 0px;
}
.cghGja *, .cghGja ::before, .cghGja ::after {
    box-sizing: inherit;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}